<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unit.converter">

    <!-- Для загрузки медиа контента -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Для корректной обработки отсутствия соединения -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Для корректной обработки отсутствия Wi-Fi соединения -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Для кеширования медиа контента -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion" />
    <!-- Для показа сообщения поверх всех окон -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.inappertising.ads.APPLICATION_KEY"
            android:value="@string/app_id"/>
        <meta-data
            android:name="com.inappertising.ads.PUBLISHER_ID"
            android:value="@string/pub_id"/>
        <meta-data
            android:name="com.inappertising.ads.AFFILIATE_ID"
            android:value="@string/aff_id"/>
        <meta-data
            android:name="com.inappertising.ads.APPMETRIC_KEY"
            android:value="3e78d997-9799-4c57-af2f-d3bdd971f2bb" />

    </application>

</manifest>